name: VPN Jackett
version: v2.75
slug: vpnjackett
description: Jackett via OpenVPN for Home Assistant
url: https://github.com/rssindian/ha_addons/vpnjackett
startup: services
webui: http://[HOST]:[PORT:9117]
arch:
  - armv7
  - aarch64
  - amd64
map:
  - config:rw
ports:
  9117/tcp: 9117
ports_description:
  9117/tcp: Web UI port
privileged: 
    - NET_ADMIN
devices:
  - /dev/net/tun
hassio_api: true

options:
  DEBUG_ENABLED: false
  CONFIG_FOLDER: "/config/addons_config"
  VPN_FILENAME: ""
  VPN_USERNAME: ""
  VPN_PASSWORD: ""
  LAN_NETWORK: "192.168.1.0/24"
  NAME_SERVERS: "1.1.1.1,8.8.8.8,1.0.0.1,8.8.4.4"
  HEALTH_CHECK_HOST: "one.one.one.one"
  HEALTH_CHECK_INTERVAL: 300

schema:
  DEBUG_ENABLED: "bool"
  CONFIG_FOLDER: "str"
  VPN_FILENAME: "str"
  VPN_USERNAME: "str"
  VPN_PASSWORD: "password"
  LAN_NETWORK: "str?"
  NAME_SERVERS: "str?"
  HEALTH_CHECK_HOST: "str?"
  HEALTH_CHECK_INTERVAL: "int(300,600)?"
  WEBUI_PASSWORD: "password?"
  LEGACY_IPTABLES: "bool?"
  DISABLE_VPN: "bool?"

panel_icon: mdi:coat-rack
init: false
image: ghcr.io/rssindian/vpnjackett-{arch}
